<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/cb.css">
    <link rel="icon" type="image/png" href="../../static/image/C.png">
    <title>Ceaprende - circulo</title>
  </head>
  <body>
    <div class="menuswitch menuHide">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu menuHide">
      <a href="index.html">
        <img class="menu__icon" src="../../static/image/C.png" alt="El loguito no cargó :(">
      </a>
      <div class="linea"></div>
      <ul class="menu__modulos">
        <li><a class="menu__item" id="circulos" href="circulo-beta.html">Circulos</a></li>
        <li><a class="menu__item" href="info-tabla.html">Sesiones</a></li>
        <li><a class="menu__item" id="acesores" href="Acesores.html">Asesores</a></li>
        <li><a class="menu__item" href="post.html">Posts</a></li>
      </ul>
    </div>
    <div class="everything">
      <div class="everything__child navigation">
          <label for="search">
              <img src="../../static/image/lupa.svg" alt="Lupa" class="navigation__icon-search">
          </label>
          <input class="navigation__search" id="search" type="text" placeholder="Ingrese su busqueda">
      </div>
      <div class="everything__child content">
        <div class="back-top"></div>
        <div class="circulo-icon">
          <div class="circulo-icon-img">
            <img src="../../static/image/C.png">
          </div>
        </div>
        <div class="container">
          <div class="circulo-info">
            <div class="info-left">
              <div class="circulo-titulo" href="Cultura">Cultura digital</div>
            </div>
            <div class="info-mid">
              <div class="circulo-descripcion">
                En este circulo se tratan los temas de la materia tics, desde los temas mas basicos como
                las hojas de calculo y programas de ofimatica hasta estructuras de datos.
              </div>
            </div>
            <div class="info-right">
              <a class="circulo-sesiones" href="info-tabla.html">Sesiones</a>
            </div>
          </div>
          <div class="articles">
            <div class="articulo">
              <div class="articulo-titulo">Introduccion a funciones en Excel</div>
              <div class="articulo-info">
                Adjunto los documentos que utilizamos en la clase del 20/03/2023 como siempre y el <a href="#">Link</a>
                gracias por el apoyo :3
              </div>
              <div class="articulo-docs">
                <div class="doc">
                  <!-- <img src="images/bxs-file-archive.svg">
                  <div class="doc-text">
                    archivos zip
                  </div>
                </div>
                <div class="doc">
                  <img src="images/bxs-file-docs.svg">
                  <div class="doc-text">
                    Documento
                  </div> -->
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-pdf.svg">
                  <div class="doc-text">
                    Pdf
                  </div>
                <!-- </div>
                <div class="doc">
                  <img src="images/bxs-slideshow.svg">
                  <div class="doc-text">
                    Presentacion
                  </div>
                </div>
                <div class="doc">
                  <img src="images/bxs-files.svg">
                  <div class="doc-text">
                    Archivo
                  </div>
                </div>
                <div class="doc">
                  <img src="images/bxs-spreadsheet.svg">
                  <div class="doc-text">
                    Hoja de calculo
                  </div> -->
                </div> 
              </div>
            </div>
            <!-- aqui mero -->
            <div class="articulo">
              <div class="articulo-titulo">Estilos a documento Word</div>
              <div class="articulo-info">
                Adjunto los documentos que utilizamos en la clase del 16/03/2023 junto con su <a href="#">Link</a>
              </div>
              <div class="articulo-docs">
                <div class="doc">
                  <img src="../../static/image/bxs-file-docs.svg">
                  <div class="doc-text">
                    Documento
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-pdf.svg">
                  <div class="doc-text">
                    Pdf
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-slideshow.svg">
                  <div class="doc-text">
                    Presentacion
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-gif.svg">
                  <div class="doc-text">
                    Gif
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-image.svg">
                  <div class="doc-text">
                    Imagen
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="circulo-info">
            <div class="info-left">
              <div class="circulo-titulo" href="Bioquimica">Biologia</div>
              <div class="circulo-autor">By Marco Antonio</div>
            </div>
            <div class="info-mid">
              <div class="circulo-descripcion">
                En este circulo se tratan los temas de la materia tics, desde los temas mas basicos como
                las hojas de calculo y programas de ofimatica hasta estructuras de datos.
            </div>
            <div class="info-right">
              <a class="circulo-sesiones" href="info-tabla.html">Sesiones</a>
            </div>
          </div>
          <div class="articles">
            <div class="articulo">
              <div class="articulo-titulo">Introduccion a las bases de Biologia</div>
              <div class="articulo-info">
                Adjunto los documentos que utilizamos en la clase del 20/03/2023 como siempre y el <a href="#">Link</a>
                gracias por el apoyo :3
              </div>
              <div class="articulo-docs">
                <div class="doc">
                  <img src="../../static/image/bxs-file-archive.svg">
                  <div class="doc-text">
                    archivos zip
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-docs.svg">
                  <div class="doc-text">
                    Documento
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-pdf.svg">
                  <div class="doc-text">
                    Pdf
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-slideshow.svg">
                  <div class="doc-text">
                    Presentacion
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-files.svg">
                  <div class="doc-text">
                    Archivo
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-spreadsheet.svg">
                  <div class="doc-text">
                    Hoja de calculo
                  </div>
                </div> 
              </div>
            </div>
            <!-- aqui mero -->
            <div class="articulo">
              <div class="articulo-titulo">Estilos a documento Word</div>
              <div class="articulo-info">
                Adjunto los documentos que utilizamos en la clase del 16/03/2023 junto con su <a href="#">Link</a>
              </div>
              <div class="articulo-docs">
                <div class="doc">
                  <img src="../../static/image/bxs-file-docs.svg">
                  <div class="doc-text">
                    Documento
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-pdf.svg">
                  <div class="doc-text">
                    Pdf
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-slideshow.svg">
                  <div class="doc-text">
                    Presentacion
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-gif.svg">
                  <div class="doc-text">
                    Gif
                  </div>
                </div>
                <div class="doc">
                  <img src="../../static/image/bxs-file-image.svg">
                  <div class="doc-text">
                    Imagen
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../static/js/main.js"></script>
  </body>
</html>