<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
  <link rel="icon" type="image/png" href="images/C.png">
  <title>Ceaprende - inico</title>
  <style>
	@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Rubik+Scribble&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ojuju:wght@200..800&family=Rubik+Scribble&display=swap');
	</style>
</head>
<body>
  <div class="menuswitch">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu">
    <a href="index.html">
        <img class="menu__icon" src="../../static/image/C.png" alt="El loguito no cargó :(">
      </a>
    <div class="linea"></div>
    <ul class="menu__modulos">
		<li><a class="menu__item" id="circulos" href="circulo-beta.html">Circulos</a></li>
		<li><a class="menu__item" href="info-tabla.html">Sesiones</a></li>
		<li><a class="menu__item" id="acesores" href="Acesores.html">Asesores</a></li>
		<li><a class="menu__item" href="post.html">Posts</a></li>
    </ul>
  </div>
  <div class="everything">
    <div class="everything__child navigation">
		<label for="search">
	    	<img src="../../static/image/lupa.svg" alt="Lupa" class="navigation__icon-search">
		</label>
    	<input class="navigation__search" id="search" type="text" placeholder="Ingrese su busqueda">
    </div>
    <div class="everything__child content">
		<div id="everything_circulos">
		<div class="circulos">
				<div class="circulos__title">Mis circulos</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Pensamiento matematico</div>
					<div class="circulos__item__descripcion">En este curso aprenderas matemáticas básicas.</div>
				</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Calculo diferencial</div>
					<div class="circulos__item__descripcion">En este curso aprenderás  las bases de Calculo diferencial</div>
				</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Ecologia</div>
					<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la Ecologia, múltiples ejercicios básicos y avanzados</div>
				</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Ingles</div>
					<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la asignatura de Ingles, múltiples actividades que te ayudaran a tener más conocimiento acerca de la materia</div>
				</div>
				<div class="end-circulos">no deberias poder ver esto</div>
				<div class="puntito">ni esto</div>
			</div>
	
			<div class="circle">

			</div>
			<div class="circulos">
				<div class="circulos__title">Mis circulos</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Fisica</div>
					<div class="circulos__item__descripcion">En este curso aprenderas los temas de fisica básica.</div>
				</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Biologia</div>
					<div class="circulos__item__descripcion">En este curso aprenderás  las bases de Biologia</div>
				</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Quimica</div>
					<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la quimica, y podras llegar a temas avanzados.</div>
				</div>
				<div class="circulos__item">
					<div class="circulos__item__title">Etica</div>
					<div class="circulos__item__descripcion">En este curso aprenderás  las bases de la asignatura de Etica, múltiples actividades que te ayudaran a tener más conocimiento acerca de la materia</div>
				</div>
				<div class="end-circulos">no deberias poder ver esto</div>
				<div class="puntito">ni esto</div>
			</div>
		</div>
    </div>
  </div>
  <script src="static/js/main.js" type="text/javascript"></script>
</body>
</html>