<html lang="es"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../static/css/cb.css">
  <link rel="icon" type="image/png" href="../../static/image/C.png">
  <title>Ceaprende - circulo</title>
</head>
<body>
  <div class="menuswitch menuHide">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu menuHide">
    <a href="index.html">
      <img class="menu__icon" src="../../static/image/C.png" alt="El loguito no cargó :(">
    </a>
    <div class="linea"></div>
    <ul class="menu__modulos">
      <li><a class="menu__item" id="circulos" href="circulo-beta.html">Circulos</a></li>
      <li><a class="menu__item" href="info-tabla.html">Sesiones</a></li>
      <li><a class="menu__item" id="acesores" href="Acesores.html">Asesores</a></li>
    </ul>
    <div class="menu-login login-btt">Inicia sesion</div>
  </div>
  <div class="everything">
    <div class="everything__child navigation">
        <label for="search">
            <img src="../../static/image/lupa.svg" alt="Lupa" class="navigation__icon-search">
        </label>
        <input class="navigation__search" id="search" type="text" placeholder="Ingrese su busqueda">
    </div>
    <div class="everything__child content">
      <div class="title">Sesiones</div>
      <table class="tabla">
          <tr>
              <th>Fecha | Hora</th>
              <th>Lider</th>
              <th>Link de la clase</th>
              <th>Estado</th>
              <th>Mas info.</th>
              <th>Circulo</th>
          </tr>
          <tr>
              <th>03/03/23 | 2:00 p.m.</th>
              <td>Marco Antonio</td>
              <td><a href="#" class="link">Sesion</a></td>
              <td class="green">Completada</td>
              <td class="red">N/A</td>
              <td class="tabla-circulo"><a href="circulo-beta.html#Ecologia">Ecología</a></td>

          </tr>
          <tr>
              <th>06/03/23 | 12:00 p.m.</th>
              <td>Isauro Jose</td>
              <td><a href="#" class="link">Sesion</a></td>
              <td class="green">Completada</td>
              <td><a href="#" class="link">Archivo</a></td>
              <td class="tabla-circulo"><a href="circulo-beta.html#Bioquimica">Bioquímica</a></td>
          </tr>
          <tr>
              <th>10/03/23 | 4:00 p.m.</th>
              <td>Alexis</td>
              <td><a href="#" class="link">Sesion</a></td>
              <td class="green">Completada</td>
              <td><a href="#" class="link">Archivo</a></td>
              <td class="tabla-circulo"><a href="circulo-beta.html#Filosofia">Temas de Filosofía</a></td>
          </tr>
          <tr>
              <th>04/05/24 | 3:30 p.m.</th>
              <td>Marco Antonio</td>
              <td><a href="https://meet.google.com/did-xdbo-srt" class="link">Sesion</a></td>
              <td class="yellow">Pendiente</td>
              <td class="yellow">N/A</td>
              <td class="tabla-circulo"><a href="circulo-beta.html#Cultura">Cultura Digital</a></td>
          </tr>
          <tr>
              <th>04/05/24 | 6:00 p.m.</th>
              <td>Emanuel</td>
              <td><a href="https://meet.google.com/did-xdbo-srt" class="link">Sesion</a></td>
              <td class="yellow">Pendiente</td>
              <td class="yellow">N/A</td>
              <td class="tabla-circulo">
                <a href="circulo-beta.html#Pensamiento">Pensamiento Matematico II</a></td>
          </tr>
          <tr>
              <th>04/05/24 | 7:00 p.m.</th>
              <td>Alexis</td>
              <td><a href="https://meet.google.com/did-xdbo-srt" class="link">Sesion</a> </td>
              <td class="yellow">Pendiente</td>
              <td class="yellow">N/A</td>
              <td class="tabla-circulo"> <a href="circulo-beta.html#Calculo">Calculo Diferencial</a></td>
          </tr>     
      </table>
    </div>
  </div>
  <script type="text/javascript" src="../../static/js/main.js"></script>
</body>
</html>