<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
</head>
<body>
    <div class="menuswitch">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu">
        <a href="index.html">
            <img class="menu__icon" src="../../static/image/C.png" alt="El loguito no cargó :(">
          </a>
        <div class="linea"></div>
        <ul class="menu__modulos">
            <li><a class="menu__item" id="circulos" href="circulo-beta.html">Circulos</a></li>
            <li><a class="menu__item" href="info-tabla.html">Sesiones</a></li>
            <li><a class="menu__item" id="acesores" href="Acesores.html">Asesores</a></li>
            <li><a class="menu__item" href="post.html">Posts</a></li>
        </ul>
      </div>
      <div class="everything">
        <div class="everything__top">
            <!-- pregunta -->
            <input type="text" id="questions" class="questions" placeholder="Has una pregunta!">
        </div>
        <div class="everything__child navigation">
            <label for="search">
                <img src="../../static/image/lupa.svg" alt="Lupa" class="navigation__icon-search">
            </label>
            <input class="navigation__search" id="search" type="text" placeholder="Ingrese su busqueda">
        </div>
    <div class="everything__mid">
        <!-- post y circulos -->
        <div class="everything__post">
            <div class="post">
                <div class="post__content" >
                    <div class="post__content__title">
                        Ayuda en programación
                    </div>
                    <div class="post__content__description">
                        Alguien me podría ayudar con progrmación orientada a objetos.
                    </div>
                </div>
                <div class="post__icon">
                    <img src="../../static/image/default.svg" alt="Post logo" class="post__icon__img">
                </div>
            </div>
            <div class="post">
                <div class="post__content" >
                    <div class="post__content__title">
                        Explicación de ecuaciones
                    </div>
                    <div class="post__content__description">
                        Necesito resolver una tarea, alguien que me pudiera explicar el tema de ecuaciones de segundo grado.
                    </div>
                </div>
                <div class="post__icon">
                    <img src="../../static/image/default.svg" alt="Post logo" class="post__icon__img">
                </div>
            </div>
            
        </div>
</body>
</html>